h1 Users

form(action="/users/search" method="GET")
	input(id="searchBox", name="q", type="text", value="")
	button Search

ul
	each user in users
		li= user.name

script document.getElementById('searchBox').value = (new URL(document.location)).searchParams.get('q');